services:

  mariadb:
    build : requirements/mariadb
    image : mariadb
    container_name : mariadb
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_USER: ${WORDPRESS_DB_USER}
      MARIADB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      MARIADB_DATABASE: ${WORDPRESS_DB_NAME}

    restart : always
    volumes :
      - mariadb:/var/lib/mysql
    networks :
      - mariadb

  wordpress:
    build : requirements/wordpress
    image : wordpress
    container_name : wordpress
    environment :
      - DOMAIN_NAME
      - WORDPRESS_ADMIN_USER
      - WORDPRESS_ADMIN_PASSWORD
      - WORDPRESS_USER
      - WORDPRESS_PASSWORD
      - WORDPRESS_EMAIL
      - WORDPRESS_DB_USER
      - WORDPRESS_DB_PASSWORD
      - WORDPRESS_DB_NAME
    restart : always
    depends_on :
      - mariadb
    volumes :
      - wordpress:/wp
    networks : 
      - mariadb
      - wordpress

  nginx:
    build : requirements/nginx
    image : nginx
    container_name : nginx
    ports :
      - "443:443"
    depends_on :
      - wordpress
    environment :
      - DOMAIN_NAME
    restart : always
    volumes :
      - wordpress:/wp
      - certs:/certs
    networks :
      - nginx
      - wordpress

volumes :
  wordpress :
    name : wordpress
    driver_opts :
      type : "none"
      o : bind
      device : $VOLUMES_ROOT/wordpress
  mariadb :
    name : mariadb
    driver_opts :
      type : "none"
      o : bind
      device : $VOLUMES_ROOT/mariadb
  certs :
    name : certs
    driver_opts :
      type : "none"
      o : bind
      device : $VOLUMES_ROOT/certs

networks :
  nginx :
    driver : bridge
  mariadb :
    driver : bridge
  wordpress :
    driver : bridge
